.mainPageComponent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainPageComponent_main {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.mainPageComponent_left {
    border-right: solid 1px #CECECC;
    min-width: 500px;
    flex:0;
}

.mainPageComponent_right {
    flex: 1;
}
