<div class="doctorProfileClass">
    <header class="headerSection">
        <div class="avatarContainer halfCut">
            <img class="avatar" ng-if="::$ctrl.avatar" ng-src="{{$ctrl.avatar}}"/>
        </div>
        <div class="doctorInfo">
            <span class="mainText">{{$ctrl.displayName}}</span>
        </div>
    </header>
    <article class="usualBackground">
        <aside class="bodyContent1">
            <div class="profileInfoContainer">
                <div class="addressClass">
                    <img class="smallIcon" ng-src="/resources/images/svg/lieu.svg"/>
                    <label>{{ $ctrl.address }}<br>{{ $ctrl.city }}</label>
                </div>
                <div class="numberClass">
                    <img class="smallIcon" ng-src="/resources/images/svg/icon_mobile-pro.svg"/>
                    <label>{{ $ctrl.phoneNumber }}</label>
                </div>
                <div class="affluenceClass">
                    <img class="smallIcon" ng-src="/resources/images/svg/icon_team.svg"/>
                    <label style="color:#f94b4b;">{{ $ctrl.affluenceText }}</label>
                </div>
            </div>
        </aside>
        <aside class="bodyContent">
            <div class="infoContainer">
                <img class="bigIcon"ng-src="/resources/images/svg/clock.svg"/>
                <div class="timeContainer">
                    <span translate="estimatedWaitingTime"></span>
                    <span>1h30</span>
                </div>
            </div>
            <div class="buttonContainer">
                <div class="u-full-width" style="text-align:center; margin-top: 20px;"><button class="button-primary" ng-click="$ctrl.onContinue()">Réserver un créneau</button></div>
            </div>
        </aside>
        dsfsdf
    </article>
</div>