<div class="patientInfoComponent">
    <img style="position:absolute; left:8px; top:8px; height:30px;" ng-src="/resources/images/svg/ouioui-consult.svg" />
        
    <div class="u-full-width blue-header"></div>

    <div class="patient-info-card">
        <label for="fname">Prénom</label>
        <input class="u-full-width inputField" type="text" id="fname" name="firstname" ng-model="$ctrl.firstname" placeholder="Your first name.." value="{{$ctrl.firstname}}"></input>

        <label for="lname">Nom</label>
        <input class="u-full-width inputField" type="text" id="lname" name="lastname" ng-model="$ctrl.lastname" placeholder="Your last name.." value="{{$ctrl.lastname}}">

        <label for="number">Âge</label>
        <input class="u-full-width inputField" type="text" id="mail" name="mail" ng-model="$ctrl.age" placeholder="Your age.." value="{{$ctrl.age}}">

        <label for="Telephone">Adress mail</label>
        <input class=" u-full-width inputField" type="text" id="Telephone" name="Telephone" placeholder="Your telephone.." value="chloe.tobaco@gmail.com">

        <label for="mail">Raison de votre visite chez le médecin</label>
        <input class="u-full-width inputField" type="text" id="mail" name="motive" placeholder="Your email address.." ng-model="$ctrl.motive" value="{{$ctrl.motive}}">


        <div class="u-full-width" style="text-align:center; margin-top: 20px;"><button class="button-primary" ng-click="$ctrl.onContinue()">Réserver</button></div>
    </div>
</div>