<p>Symptôme principal (le plus génant) ?</p>
<input type="text" />

<p>Autres symptomes ?</p>
<textarea></textarea>

<p>Depuis combien de temps ?</p>
<input type="radio" ng-model="$ctrl.fever" value="yes">Quelques jours</input>
<input type="radio" ng-model="$ctrl.fever" value="no">Une semaine</input>
<input type="radio" ng-model="$ctrl.fever" value="no">Quelques semaines</input>
<input type="radio" ng-model="$ctrl.fever" value="no">Un mois</input>
<input type="radio" ng-model="$ctrl.fever" value="no">Plusieurs mois</input>

<p>Intensité entre 1 et 10</p>
<input type="range" value="5" max="10" min="1" step="1">

<p>Où avez vous mal ?</p>
<input type="text" />

<p>Combien de diarrhées sur les 24 dernières heures ?</p>
<input type="range" value="1" max="10" min="1" step="1">

<p>Avez-vous de la fièvre ou une sensation de fièvre ?</p>
<input type="radio" ng-model="$ctrl.fever" value="yes">Oui</input>
<input type="radio" ng-model="$ctrl.fever" value="no">Non</input>

<p>Vos réponses ont bien été prises en compte et sont transmises au médecin.</p>
