div.symptomesComponent .blue-header {
    height: 160px;
    background: radial-gradient(#88c5e8, #2585f4);
}

div.symptomesComponent .inputField {
   margin: 0 0 8px 0;
}

div.symptomesComponent .blue-header {
   height: 160px;
   background: radial-gradient(#88c5e8, #2585f4);
}

div.symptomesComponent .patient-info-card {
   padding: 15px;
   margin: -80px auto;
   background-color: white;
   width: 85%;
   border-radius: 8px;
   box-shadow: 0 0 1em #ccc;
}

div.symptomesComponent .button-primary {
  padding: 0 20px;
}
