.headerComponent {
    background: #2585f4;
    height: 60px;
    display:flex;
    border: solid 1px#CECECC;
}

.headerComponent_logo {
    width: 116px;
    margin: -4px 0 0 14px;
}

.headerComponent_avatar {
    border-radius: 50%;
    border: solid 2px white;
    margin: 6px 6px 0 0;
    width: 45px;
    height: 45px;
    background: white;
    margin-left:auto;
}